{% extends "frame.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
  {% trans "Sign In" %}
{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card mybg-l mb-4">
          <div class="card-body text-white">
            <h2 class="fw-bold accent mb-3">{% trans "Sign In" %}</h2>
            <p class="muted-white mb-4">
              {% blocktrans %}Welcome back to Problems?Solved. To leave a Take or submit a Problem, please log in. If you have not created an account yet, then <a class="accent" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            </p>
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn btn-signup w-100 mt-3" type="submit">{% trans "Sign In" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
