{% extends "frame.html" %}
{% load static %}
{% block content %}
    <!-- index.html content starts here -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h1 class="display-5 display-md-3 fw-bold">
                    Explore <span class="gradient">Problems</span>
                </h1>
                <h1 class="display-5 fw-bold">
                    and add your <span class="outline">Take</span>
                </h1>
                <p class="h4 my-5">
                    A place to explore real problems and share your take. Add context, suggest a fix, or spot an idea worth building next.
                </p>
            </div>
            <!-- Blog Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for prob in problem_list %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="index-card card mx-3 mb-4">
                                {% comment %} {% if "placeholder" in prob.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/problem.png' %}" alt="placeholder image">
                                {% else %}
                                    <img class="card-img-top" src=" {{ prob.featured_image.url }}" alt="{{ prob.title }}">
                                {% endif %} {% endcomment %}
                                <div class="card-body">
                                    <a href="{% url 'problem_detail' prob.slug %}" class="prob-link">
                                        <h5 class="card-title">{{ prob.title|truncatechars:40 }}</h5>
                                        <ul class="list-group my-3">
                                            <li class="list-group-item">
                                                <b>Author: </b>{{ prob.author }}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Industry: </b>{{ prob.get_industry_display }}
                                            </li>
                                            <li class="list-group-item">
                                                <b>Pain Level: </b>{{ prob.pain_level }}
                                            </li>
                                        </ul>
                                        <p class="card-text">{{ prob.description|truncatewords:40 }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">« PREV</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT »</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
    <!-- index.html content ends here -->
{% endblock content %}
{% block copyright %}
    copyright 2026
{% endblock copyright %}
