:root {
  --text: #e1e1e1;
  --background: #222222;
  --background-l: #303030;
  --primary: #283a4c;
  --m-primary: #2f3b47;
  --secondary: #648cb3;
  --accent: #c2ef67;
}

body {
  background-color: var(--background);
}

.brand {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #4a4a4f;
}

/* general styling */
.text-white {
  color: var(--text);
}

.accent {
  color: var(--accent);
}

.mybg-mprimary {
  background-color: var(--m-primary);
}

.mybg-l {
  background-color: var(--background-l);
}

/* NavBar  */

.navbar {
  border-bottom: 1px solid #5a5a5a;
}

.state {
  background-color: var(--secondary);
  color: var(--text); /* text color */
  font-weight: 600;
}

/* Homepage styling */
.gradient {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.outline {
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text);
  color: transparent;
}
/* elements styling */

.container {
  border-radius: 10px;
}
.hero-img {
  object-fit: cover;
  filter: brightness(0.5);
}

.home-card {
  border-radius: 5px;
}

.red-o {
  color: #e84610;
}

.thin {
  font-weight: 300;
}

.light-bg {
  background-color: #fff;
}

.dark-bg {
  background-color: #445261;
}

.main-bg {
  background-color: var(--background);
}

.card {
  background-color: var(--primary);
}

.image-container {
  position: relative;
}

.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  background-color: var(--accent);
}

.scale {
  width: 100%;
  height: auto;
}

.author {
  color: var(--primary);
  margin: 4px;
  text-transform: uppercase;
}

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #445261;
  color: white;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.about-image {
  width: 75%;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

.prob-link {
  text-decoration: none;
  color: var(--text);
}

.post-link:hover,
.page-link {
  color: #e84610;
}

.post-title {
  margin-top: 10%;
  margin-left: 5%;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.btn-signup,
.btn-edit {
  background-color: #188181;
  color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #fff;
  color: #23bbbb;
}

.link {
  color: #23bbbb;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: #445261;
  text-decoration: underline;
}

.btn-like {
  color: #e84610;
  border: none;
  background: transparent;
}

.btn-delete {
  color: #fff;
  background: #e84610;
}

.btn-like:hover,
.btn-like:active {
  color: #e84610;
  background: transparent;
  border: none;
}

.faded {
  color: rgb(172, 175, 175);
}

.approval {
  color: rgb(222, 146, 168);
}
